{
        "root": true,
        "parser": "@typescript-eslint/parser",
        "plugins": ["@typescript-eslint", "prettier"],
        "overrides": [
                {
                        "files": ["*.js"],
                        "rules": {
                                "@typescript-eslint/no-var-requires": "off"
                        }
                }
        ],
        "env": {
                "node": true,
                "browser": true,
                "amd": true
        },
        "extends": [
                "prettier",
                "eslint:recommended",
                "plugin:@typescript-eslint/eslint-recommended",
                "plugin:@typescript-eslint/recommended"
        ],
        "rules": {
                "prettier/prettier": ["error"]
        }
}
