.label {
    border-radius: 4px;
    padding: 0 12px;
    font-weight: 500;
    width: fit-content;
    margin-bottom: 8px;
}

.label-default {
    background: #b6fcdd;
    color: #000000;
}

.label-success {
    background: #28e137;
    color: #000000;
}

.label-warning {
    background: #ffa200;
    color: #000000;
}

.label-error {
    background: #ee3927;
    color: #ffffff;
}

.label-info {
    background: #0d84ce;
    color: #ffffff;
}

